@using System.Text
@model RepoInfoViewModel

@{
    ViewData["Title"] = "Info";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Model.RepoRootPath/@Model.Branches[Model.CurrentBranchIndex]">Root</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @for (var i = 2; i < Model.Path.Count; i++)
                {
                    var path = new StringBuilder($"{Model.RepoRootPath}/{Model.Branches[Model.CurrentBranchIndex]}/");
                    for (var j = 2; j <= i; j++)
                    {
                        path.Append(Model.Path[j] + "/");
                    }
                    path.Remove(path.Length - 1, 1);
                    <li>
                        <a href="@path.ToString()">
                            @Model.Path[i]
                        </a>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @{
                    var repoPath = new StringBuilder($"{Model.RepoRootPath}/{Model.Branches[Model.CurrentBranchIndex]}/");
                    for (var j = 2; j < Model.Path.Count; j++)
                    {
                        repoPath.Append(Model.Path[j] + "/");
                    }
                    repoPath.Remove(repoPath.Length - 1, 1);
                }
                <li><a href="@repoPath">Files</a></li>
                @{
                    var infoPath = "/Info"+repoPath.ToString();
                }
                <li class="active"><a href="@infoPath">Info <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />
<dl class="dl-horizontal">
    <dt>Clone uri:</dt>
    <dd>
        @Model.RepoUri
    </dd>
    <dt>
        Other info
    </dt>
    <dd>
        Will go here
    </dd>
</dl>